<div class="btn-group">
    <a class="btn btn-icon" href="{{ record.get_absolute_url }}"><i class='bx bx-chevron-right'></i>Detail</a>

    <a class="btn btn-icon" href="{{ record.get_update_url }}"><i class='bx bxs-pencil'></i>Edit</a>

    <form method="post" id="delete-{{ record.id }}" action="{{ record.get_delete_url }}" up-submit
          up-confirm="Are you sure to delete this?">
        {% csrf_token %}
        <button class="btn btn-icon" type="submit"><i class='bx bxs-trash-alt'></i>Delete</button>
    </form>
</div>